# Basic stuff
keyboard
python-dotenv
termcolor   
tenacity
pydantic

# Database
psycopg2-binary
alembic
pgvector
plotly
sqlalchemy

# AI
# Note: You need a C++ compiler to install llama-cpp-python if you are building this outside of the docker container
# https://cmake.org/download/#latest
llama-cpp-python
openai
#openai-functions
langchain

# REST
requests==2.26.0

# Search
duckduckgo-search

# Date/Time & Calendars
pytz

# Google
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

# Wikipedia
wikipedia

# News
gnews
newspaper3k

# Weather
python-weather

# Document parsing
pypdf
docx2txt
pdfminer.six
bs4
pdfplumber
unstructured
openpyxl

# Code parsing
libclang==16.0.6

# Token counting
# Currently pegged at this version for whisper compatibility
tiktoken==0.3.3

# UI
streamlit
streamlit-extras
streamlit-tree-select

# The following are things that I am not using yet, but I want to keep track of them
# Embeddings 
# sentence_transformers
# InstructorEmbedding

# API
# fastapi

python-gitlab==3.15.0
