# Basic stuff
keyboard
python-dotenv
termcolor
tenacity
pydantic

# Database
psycopg2-binary
alembic
pgvector
plotly
sqlalchemy

# AI
llama-cpp-python
openai
openai-functions
langchain

# Audio related
openwakeword
pyaudiowpatch
pyaudio
webrtcvad
# Install whisper from github:
# pip install --upgrade --no-deps --force-reinstall git+https://github.com/openai/whisper.git
# openai-whisper
more-itertools
sound
TTS
# Required for AWS Polly
boto3
pydub
SpeechRecognition

# Maffs
# torch
# To install torch for GPU (CUDA 12.1), use the following command:
# pip3 install --force-reinstall --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu121
# ^^ The force reinstall is needed because the version of torch that gets installed as a dependency in other places is not correct
# NOTE: The pip install of ffmpeg-python is broken, so you need to install ffmpeg manually
# After you install ffmpeg (download from the website), you need to add the bin folder to your path
ffmpeg 
ffmpeg-python

# REST
requests

# Search
duckduckgo-search

# Date/Time & Calendars
pytz

# Google
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib

# Wikipedia
wikipedia

# News
gnews

# Weather
python-weather

# Document parsing
pypdf
docx2txt
pdfminer.six
bs4

# Token counting
# Currently pegged at this version for whisper compatibility
tiktoken==0.3.3



# The following are things that I am not using yet, but I want to keep track of them
# Embeddings 
# sentence_transformers
# InstructorEmbedding

# API
# fastapi