# # AI
langchain
langchain-community
transformers
langchain-experimental

# REST
requests

# Passwords
passlib 

# UI
streamlit
streamlit-extras
# Maybe one day
#streamlit-authenticator
#streamlit-oauth

# General
tzlocal