# Basic stuff
pydantic
celery

# AI
tiktoken
openai
langchain_openai
langchain
langchain-community
transformers
langchain-experimental

# REST
requests

# Passwords
passlib 

# UI
streamlit
streamlit-extras
extra-streamlit-components
# Maybe one day
#streamlit-authenticator
#streamlit-oauth

# Time-related
tzlocal
pytz

# Data access
sqlalchemy
pgvector
psycopg2-binary

# External services
wikipedia
gnews
python_weather

# Source control related
python-gitlab
PyGithub
Jinja2