# # Basic stuff
# keyboard
# python-dotenv
# termcolor   
# tenacity
# pydantic

# # Database
# psycopg2-binary
# alembic
# pgvector
# plotly
# sqlalchemy

# # AI
# openai
langchain
langchain-community
transformers
langchain-experimental
# langchain==0.1.6
# langchain-community==0.0.19
# langchain-core==0.1.23
# langchain-openai
# langchain-experimental
# transformers

# # REST
# requests==2.26.0

# # Search
# duckduckgo-search

# # Date/Time & Calendars
# pytz
# tzlocal 
# # Google
# google-api-python-client
# google-auth-oauthlib
# google-auth-httplib2
# beautifulsoup4 

# # Wikipedia
# wikipedia



# # News
# gnews
# newspaper3k

# # Weather
# python-weather

# # Document parsing
# pypdf
# docx2txt
# pdfminer.six
# bs4
# pdfplumber
# unstructured
# openpyxl
# xlrd

# # Code parsing
# libclang==16.0.6

# # Token counting
# # Currently pegged at this version for whisper compatibility ==0.3.3
# tiktoken
# #aiohttp==3.8.2

# UI
streamlit
# streamlit-extras
# streamlit-tree-select

# # The following are things that I am not using yet, but I want to keep track of them
# # Embeddings 
# #sentence_transformers
# InstructorEmbedding

# # API
# # fastapi

# python-gitlab==3.15.0
# PyGithub==2.1.1
# Jinja2==3.1.2
