# Basic stuff
pydantic
celery

# AI
tiktoken
openai
langchain_openai
langchain
langchain-community
transformers
langchain-experimental

# Document parsing
pypdf
docx2txt
pdfminer.six
bs4
pdfplumber
unstructured
openpyxl
xlrd

# Data access
sqlalchemy
pgvector
psycopg2-binary