The file [{{source_code_file_path}}]({{source_code_href}}) 
was reviewed by **{{ reviewer }}** with the following findings:

{% if comments|length == 0 %}
No comments found
{% endif %}

{% for comment in comments %}
1.  {{ comment.comment }}

    {% if 'original_code_snippet' in comment %}
    Existing code snippet:
    ```{{ language_mode_syntax_highlighting }}
    {% filter indent(width=4) %}
    {{ comment.original_code_snippet}}
    {% endfilter %}
    ```
    {% endif %}
    {% if 'suggested_code_snippet' in comment %}

    Suggested code snippet:
    ```{{ language_mode_syntax_highlighting }}
    {% filter indent(width=4) %}
    {{ comment.suggested_code_snippet}}
    {% endfilter %}
    ```
    {% endif %}
    {% if 'start' in comment and 'end' in comment %}
    - [Link]({{ source_code_href + "#L" + (comment.start+1)|string + "-L" + (comment.end+1)|string }})
    {% else %}
    - [Link]({{ source_code_href }})
    {% endif %}
     
{% endfor %}
